<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>發生錯誤</title>
  </head>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    .header {
      background-color: #223344;
      color: #fff;
      font-size: 20px;
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
    }
    .signin-header {
      padding: 10px 0;
    }
  </style>
  <body>
    <div class="header">失敗頁面</div>
    <div class="container">
      <div class="signin-header">{{message}}</div>
      <div class="homepage-link">
        <a href="http://127.0.0.1:8000">返回首頁</a>
      </div>
    </div>
  </body>
</html>
